<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="/instagram"><i class="bi bi-instagram"></i></a>
            <a href="/facebook"><i class="bi bi-facebook"></i></a>
            <a href="/linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="/twitter"><i class="bi bi-twitter"></i></a>
        </div>
        <div class="f-info-brand">&copy;Airbnb Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="terms">Terms</a>
        </div>
    </div>
</footer>