<% layout("/layouts/boilerplate") %>
<form action="/signup" class="needs-validation mt-2" novalidate method="post">
    <div class="col-6 offset-3">
        <h3> Signup:- </h3>
        <div class="mb-3">
        <label for="Username" class="form-label">Username</label>
        <input type="text" name="username" placeholder="enter Username" class="form-control " required>
        <div class="valid-feedback">
            Username Looks good!
        </div>
        <div class="invalid-feedback">
            Enter a Valid Username
        </div>
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" name="email" placeholder="enter Email" class="form-control " required>
        <div class="valid-feedback">
            Email Looks good!
        </div>
        <div class="invalid-feedback">
            Enter a Valid Email
        </div>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" name="password" placeholder="enter Password" class="form-control " required>
        <div class="valid-feedback">
            Password Looks good!
        </div>
        <div class="invalid-feedback">
            Enter a Valid Password
        </div>
    </div>
    <button class="btn btn-dark add-btn">Signup</button>
    </div>
</form>